---
---



<footer class="bg-gray-200">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center !no-underline"><span class="self-center text-2xl font-semibold whitespace-nowrap text-black ">TikTokio</span></a>
                <p class="text-base leading-8 my-5">Tiktokio is tiktok downloader, tiktok video downloader and tiktok story downloader download tiktok video without watermark, tiktok to mp4 and tiktok video saver.</p>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="/about" class="hover:!underline !text-gray-700">About Us</a>
                      </li>
                      <li>
                          <a href="/contact" class="hover:!underline !text-gray-700">Contact Us</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="/terms-of-service" class="hover:!underline !text-gray-700 ">Terms of Service</a>
                      </li>
                      <li>
                          <a href="/privacy-policy" class="hover:!underline !text-gray-700">Privay Policy</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="/tiktok-sound-downloader" class="hover:!underline !text-gray-700">Download TikTok Sound</a>
                      </li>
                      <li class="mb-4">
                          <a href="/tiktok-slideshow-downloader" class="hover:!underline !text-gray-700">Download TikTok Slideshow</a>
                      </li>
                  </ul>
              </div>
          </div>
 <script type="application/ld+json">
                    {
                        "@context": "http://schema.org",
                        "@type": "Organization",
                        "name": "Tiktokio Tiktok Downloader",
                        "url": "https://stiktokio.com",
                        "logo": "https://stiktokio.com/images/cropped-cropped-ico-180x180.webp",
                        "image": "https://stiktokio.com/public/meta/opengraph.png",
                        "description": "Tiktokio is tiktok downloader, tiktok video downloader and tiktok story downloader download tiktok video without watermark, tiktok to mp4 and tiktok video saver.",
                        "email": "contact@stiktokio.com"
                    }
                </script>
                                
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebApplication",
      "name": "Tiktokio Tiktok Downloader",
      "operatingSystem": "ReactJS",
      "applicationCategory": "EntertainmentApplication",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "738197"
      },
      "offers": {
        "@type": "Offer",
        "price": 0.00,
        "priceCurrency": "USD"
      }
    }
    </script>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm sm:text-center text-gray-700">© 2025 <a href="/" class="hover:!underline font-semibold !text-gray-700">TikTokio</a>. All Rights Reserved.</span>
      </div>
    </div>
</footer>
